<h2 class='text-center'>Typeahead Example Using AngularJS Directives</h2>
<div class='bs-example'>
  
    <div class='form-group col-sm-10'>
      <label for="Search term" class='form-group'>Enter search term</label>
      <input class='form-control' type='search' id='idSearch' 
        ng-model='typeAheadCtrl.sterm' 
        ng-change='typeAheadCtrl.filterData(typeAheadCtrl.sterm)' placeholder='Enter Search Term'/>
      <div ng-if='typeAheadCtrl.visible' class='dropdown limitHeight'>
          <a href='#' ng-model='typeAheadCtrl.selName' ng-class="{active: data.selected}"
             ng-click='typeAheadCtrl.updateSearchTerm(data)'  
             ng-repeat="data in typeAheadCtrl.results track by $index" class='divider list-group-item'>
           {{data.value}}
          </a>
      </div>
    </div>
</div>
